{% extends 'main.html' %}
{% block content %}
<main class="container">
    <div class="card">
        <h2>Add Task</h2>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="task_name">Task Name</label>
            <input type="text" id="task_name" name="task_name" value="{{ update.title }}" placeholder="Enter Task Name" required>

            <label for="task_desc">Task Description</label>
            <input  id="task_desc" name="task_desc" value="{{ update.desc }}" placeholder="Enter Task Description" rows="4" required></input>

            <div class="btn-group">
                <button type="submit" name="action" value="save" class="btn primary">Save</button>

                <a href="{% url 'home' %}" class="btn cancel">Cancel</a>
            </div>
        </form>
    </div>
</main>
{% endblock content %}